<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thirteencubes.prepup.android"
    android:versionCode="2"
    android:versionName="0.2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" 
        
        />
	 <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:name="com.thirteencubes.prepup.android.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/badge_square_2"
        android:label="@string/app_name" >
        <activity
            android:name="com.thirteencubes.prepup.android.core.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.thirteencubes.prepup.android.core.ShowQsActivity"
            android:label="@string/title_activity_show_qs"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
          
        </activity>
    	<activity
            android:name="com.thirteencubes.prepup.android.core.ExamSelectionActivity"
            android:label="@string/title_activity_start_exam" >
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
        <activity
            android:name="com.thirteencubes.prepup.android.core.StartExamActivity"
            android:label="@string/title_activity_start_exam"
            android:theme="@style/Theme.AppCompat"  >
        </activity>
    </application>

</manifest>
